@import "../../assets/styles/constants.scss";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  text-decoration: none;
  text-align: center;
  padding: 0 5px;
  border-radius: 10px;
  background-color: $green;
  border: 5px solid $darkGreen;
  font-family: "Rowdies";
  font-size: 20px;
  color: $cyan;
  margin: 10px;
  &:hover {
    color: $animalBackground;
  }
  &:active,
  &:focus {
    background-color: $animalText;
    border-color: $animalBackground;
  }
}
