@use "../../assets/styles/constants.scss" as cnst;

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  text-decoration: none;
  text-align: center;
  padding: 0 5px;
  border-radius: 10px;
  background-color: cnst.$green;
  border: 5px solid cnst.$darkGreen;
  font-family: "Rowdies";
  font-size: 20px;
  color: cnst.$cyan;
  margin: 10px;

  &:hover {
    color: cnst.$animalBackground;
  }

  &:active,
  &:focus {
    background-color: cnst.$animalText;
    border-color: cnst.$animalBackground;
  }
}
