@use "../../assets/styles/constants.scss" as cnst;

.app {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: cnst.$darkPurple;
  background-image: url(../../assets/images/textures/cubes.png);
}

.container {
  overflow-y: hidden;
  position: relative;
  width: 100%;
  max-width: stretch;
  height: calc(100% - 160px);
  margin: 20px 30px;
  display: flex;

  @media (max-width: 980px) {
    height: calc(100% - 140px);
  }

  @media (max-width: 700px) {
    flex-direction: column;
  }

  @media (max-width: 550px) {
    margin: 10px;
    height: calc(100% - 100px);
  }

  @media (max-width: 400px) {
    height: calc(100% - 95px);
  }
}
