@use "../../assets/styles/constants.scss" as cnst;

.card {
  margin: 10px;
  height: 140px;
  width: 96px;
  border-radius: 10px;
  background-image: url(../../assets/images/textures/black-thread.png);
  transition:
    transform 0.3s,
    box-shadow 0.2s;
  position: relative;
  padding: 0 2px;
  box-shadow: 2px 5px 5px 3px;
  cursor: pointer;

  &:hover {
    filter: contrast(1.75);
    transform: scale(1.1) skewY(5deg);
    box-shadow: 3px 15px 5px 3px rgba(black, 0.5);
  }

  @media (min-width: 701px) and (max-height: 815px) {
    height: 120px;
    width: 80px;
  }

  @media (max-width: 600px) {
    height: 120px;
    width: 80px;
  }

  @media (max-width: 500px) {
    height: 100px;
    width: 70px;
    margin: 5px;
  }

  @media (max-width: 400px) {
    height: 90px;
    width: 60px;
    border-radius: 7px;
  }

  @media (max-width: 300px) {
    height: 80px;
    width: 55px;
    border-radius: 5px;
  }

  &__animal {
    background-color: cnst.$animalBackground;
    border: 2px solid cnst.$animalText;

    .card_title {
      color: cnst.$animalText;
      text-shadow: 0px 0px 3px cnst.$animalTextShadow;
    }

    .card_image {
      filter: cnst.$animalFilter;
    }
  }

  &__bakery {
    background-color: cnst.$bakeryBackground;
    border: 2px solid cnst.$bakeryText;

    .card_title {
      color: cnst.$bakeryText;
      text-shadow: 0px 0px 3px cnst.$bakeryTextShadow;
    }

    .card_image {
      filter: cnst.$bakeryFilter;
    }
  }

  &__drink {
    background-color: cnst.$drinkBackground;
    border: 2px solid cnst.$drinkText;

    .card_title {
      color: cnst.$drinkText;
      text-shadow: 0px 0px 3px cnst.$drinkTextShadow;
    }

    .card_image {
      filter: cnst.$drinkFilter;
    }
  }

  &__fastfood {
    background-color: cnst.$fastfoodBackground;
    border: 2px solid cnst.$fastfoodText;

    .card_title {
      color: cnst.$fastfoodText;
      text-shadow: 0px 0px 3px cnst.$fastfoodTextShadow;
    }

    .card_image {
      filter: cnst.$fastfoodFilter;
    }
  }

  &__inedible {
    background-color: cnst.$inedibleBackground;
    border: 2px solid cnst.$inedibleText;

    .card_title {
      color: cnst.$inedibleText;
      text-shadow: 0px 0px 3px cnst.$inedibleTextShadow;
    }

    .card_image {
      filter: cnst.$inedibleFilter;
    }
  }

  &__meat {
    background-color: cnst.$meatBackground;
    border: 2px solid cnst.$meatText;

    .card_title {
      color: cnst.$meatText;
      text-shadow: 0px 0px 3px cnst.$meatTextShadow;
    }

    .card_image {
      filter: cnst.$meatFilter;
    }
  }

  &__milk {
    background-color: cnst.$milkBackground;
    border: 2px solid cnst.$milkText;

    .card_title {
      color: cnst.$milkText;
      text-shadow: 0px 0px 3px cnst.$milkTextShadow;
    }

    .card_image {
      filter: cnst.$milkFilter;
    }
  }

  &__other {
    background-color: cnst.$otherBackground;
    border: 2px solid cnst.$otherText;

    .card_title {
      color: cnst.$otherText;
      text-shadow: 0px 0px 3px cnst.$otherTextShadow;
    }

    .card_image {
      filter: cnst.$otherFilter;
    }
  }

  &__plant {
    background-color: cnst.$plantBackground;
    border: 2px solid cnst.$plantText;

    .card_title {
      color: cnst.$plantText;
      text-shadow: 0px 0px 3px cnst.$plantTextShadow;
    }

    .card_image {
      filter: cnst.$plantFilter;
    }
  }

  &__sweet {
    background-color: cnst.$sweetBackgriound;
    border: 2px solid cnst.$sweetText;

    .card_title {
      color: cnst.$sweetText;
      text-shadow: 0px 0px 3px cnst.$sweetTextShadow;
    }

    .card_image {
      filter: cnst.$sweetFilter;
    }
  }

  &__vegan {
    background-color: cnst.$veganBackground;
    border: 2px solid cnst.$veganText;

    .card_title {
      color: cnst.$veganText;
      text-shadow: 0px 0px 3px cnst.$veganTextShadow;
    }

    .card_image {
      filter: cnst.$veganFilter;
    }
  }

  &__none {
    box-shadow: none;

    &:hover {
      filter: contrast(0.7) brightness(0.7);
      transform: none;
      box-shadow: none;
    }
  }

  &__faded {
    transform: scale(0%) rotate(180deg);

    &:hover {
      transform: scale(0%) rotate(180deg);
    }
  }

  &__selected {
    box-shadow:
      0px 0px 29px 5px rgba(cnst.$pink, 0.8),
      0px 5px 5px 3px;

    &:hover {
      box-shadow:
        0px 0px 29px 5px rgba(cnst.$pink, 0.8),
        3px 15px 5px 3px rgba(black, 0.3);
    }

    @media (max-width: 600px) {
      box-shadow:
        0px 0px 20px 5px rgba(cnst.$pink, 0.8),
        0px 5px 5px 3px;
    }
  }

  &__dead-end {
    filter: contrast(0.5) brightness(0.5);

    &.card__selected {
      box-shadow:
        0px 0px 29px 5px rgba(cnst.$pink, 1),
        0px 5px 5px 3px;
    }

    &:hover {
      filter: contrast(0.5) brightness(0.5);
      transform: none;
      box-shadow: 2px 5px 5px 3px;
    }
  }

  &__new-result {
    animation: new_result 1s infinite;
    box-shadow: 0px 0px 50px 20px cnst.$animalBackground;
  }

  &__decorative {
    &:hover {
      transform: none;
      transition: filter 0.2s;
      box-shadow: 2px 5px 5px 3px;
    }

    &.card__selected {
      box-shadow:
        0px 0px 29px 5px rgba(cnst.$pink, 0.8),
        0px 5px 5px 3px;
    }
  }

  &_title {
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 5px auto;
    font-size: 18px;
    font-family: "Lobster Two";
    word-break: break-word;
    user-select: none;

    @media (max-width: 600px) {
      font-size: 17px;
    }

    @media (max-width: 500px) {
      font-size: 15px;
    }

    @media (max-width: 300px) {
      font-size: 12px;
    }
  }

  &_image-wrapper {
    position: absolute;
    width: 100%;
    height: 65px;
    bottom: 10px;

    @media (max-width: 600px) {
      height: 55px;
    }

    @media (max-width: 500px) {
      height: 50px;
      bottom: 5px;
    }

    @media (max-width: 300px) {
      height: 40px;
    }
  }

  &_image {
    height: 100%;
    margin: 0 auto;
    display: block;
    user-select: none;
  }

  .nothingCreated {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: cnst.$red;
    user-select: none;
  }
}

@keyframes new_result {
  0% {
    box-shadow: 0px 0px 50px 20px cnst.$animalBackground;
  }

  50% {
    box-shadow: 0px 0px 30px 10px cnst.$animalBackground;
  }

  100% {
    box-shadow: 0px 0px 50px 20px cnst.$animalBackground;
  }
}
