@import "../../assets/styles/constants.scss";

.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;

  &__closed {
    z-index: -1;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border-radius: 20px;
  border: 5px groove $green;
  background-color: $drinkText;
  background-image: url(../../assets/images/textures/black-thread-light.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  padding: 10px;
  box-shadow: 0px 0px 20px 10px $drinkBackground;

  @media (max-width: 600px) {
    width: 400px;
  }

  @media (max-width: 500px) {
    width: 300px;
  }

  @media (max-width: 400px) {
    width: 250px;
  }

  @media (max-width: 320px) {
    width: 220px;
  }
}

.content {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 10px;
  box-shadow: 0px 5px 10px 12px rgb(34, 60, 80) inset;
  border: 3px solid $green;
  border-radius: 10px;

  @media (max-width: 500px) {
    max-height: 300px;
  }
}

.title {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: $darkGreen;
  font-family: "Lobster Two";

  @media (max-width: 500px) {
    font-size: 40px;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 20px;
}

.button {
  height: 50px;
  padding: 0 5px;
  border-radius: 10px;
  width: 220px;
  font-family: "Rowdies";
  font-size: 20px;
  cursor: pointer;

  &:hover {
    color: $animalBackground;
  }

  &:active {
    background-color: $animalText;
    border-color: $animalBackground;
  }

  @media (max-width: 600px) {
    width: 180px;
  }

  @media (max-width: 500px) {
    width: 120px;
    height: 40px;
  }

  @media (max-width: 400px) {
    width: 100px;
  }
}

.accept {
  background-color: $veganBackground;
  border: 5px solid $veganText;
  color: $veganText;
}

.decline {
  background-color: $meatBackground;
  border: 5px solid $meatText;
  color: $meatText;
}
