@import "../../assets/styles/constants.scss";

.container {
  width: 100%;
  max-width: stretch;
  height: 50px;
  margin: 20px 30px;
  border-radius: 20px;
  border: 5px groove $darkGreen;
  background-color: $cyan;
  background-image: url(../../assets/images/textures/black-thread-light.png);
  display: flex;
  align-items: center;
  padding: 20px 30px;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 3px black inset;
  @media (max-width: 980px) {
    height: 30px;
    border-radius: 15px;
  }
  @media (max-width: 550px) {
    margin: 10px 5px;
    padding: 20px 10px;
    height: 20px;
  }
  @media (max-width: 400px) {
    height: 15px;
  }
}

.logo {
  font-family: "Staatliches", cursive;
  font-size: 40px;
  color: $darkGreen;
  margin-right: 30px;
  cursor: pointer;
  &:hover {
    color: $animalBackground;
  }
  @media (max-width: 980px) {
    font-size: 30px;
  }
  @media (max-width: 400px) {
    font-size: 25px;
  }
  @media (max-width: 340px) {
    margin-right: 10px;
  }
  @media (max-width: 320px) {
    font-size: 22px;
  }
}
