.container {
  width: 100%;
  border-radius: 20px;
  border: 5px groove #3e645d;
  background-color: #002c30;
  background-image: url(../../assets/images/textures/gplay.png);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  overflow-y: auto;
  flex-grow: 1;
  box-shadow: 0px 0px 5px 3px black inset;
  @media (max-width: 980px) {
    border-radius: 10px;
  }
  @media (max-width: 700px) {
    width: auto;
    margin-bottom: 20px;
  }
  @media (max-width: 550px) {
    margin-bottom: 10px;
  }
}
