$animalBackground: #9b980f;
$bakeryBackground: #8d6025;
$drinkBackground: #2f7591;
$fastfoodBackground: #c76a00;
$inedibleBackground: #5f6274;
$meatBackground: #831f1f;
$milkBackground: #9fafac;
$otherBackground: #914882;
$plantBackground: #657259;
$sweetBackgriound: #7d279d;
$veganBackground: #3c8d55;

$animalText: #464514;
$bakeryText: #4a3112;
$drinkText: #1b4454;
$fastfoodText: #643d0f;
$inedibleText: #313340;
$meatText: #481b1b;
$milkText: #49625e;
$otherText: #681657;
$plantText: #3a4431;
$sweetText: #4b2659;
$veganText: #294833;

$darkPurple: #160026;
$madPurple: #2a093e;
$darkGreen: #002c30;
$green: #013740;
$cyan: #3e645d;
$pink: #8c00b9;
$madPink: #674c76;
$violet: #360140;
