$animalBackground: #9b980f;
$creatureBackground: #8d6025;
$drinkBackground: #2f7591;
$meatBackground: #831f1f;
$milkBackground: #9fafac;
$otherBackground: #5f6274;
$plantBackground: #3c8d55;
$semifinishedBackground: #657259;
$snackBackground: #c76a00;

$darkPurple: #160026;
$madPurple: #2a093e;
$darkGreen: #002c30;
$green: #013740;
$cyan: #3e645d;
$pink: #8c00b9;
$madPink: #674c76;
$violet: #360140;

$animalText: #464514;
$creatureText: #4a3112;
$drinkText: #1b4454;
$meatText: #481b1b;
$milkText: #49625e;
$otherText: #313340;
$plantText: #294833;
$semifinishedText: #3a4431;
$snackText: #643d0f;
