@use "../../assets/styles/constants.scss" as cnst;
@use "../card/card.module.scss" as card;

.wrapper {
  height: fit-content;
  width: auto;
  border-radius: 20px;
  border: 5px groove cnst.$madPink;
  background-color: cnst.$violet;
  background-image: url(../../assets/images/textures/dimension.png);
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  overflow-y: auto;
  flex-basis: 200px;
  padding: 10px;
  box-shadow: 0px 0px 5px 3px black inset;

  @media (max-width: 980px) {
    border-radius: 10px;
  }

  @media (max-width: 700px) {
    flex-basis: 180px;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-left: 0;
    flex-shrink: 0;
  }

  @media (max-width: 600px) {
    padding: 0 10px;
  }

  @media (max-width: 500px) {
    flex-basis: 160px;
  }

  @media (max-width: 400px) {
    flex-basis: 130px;
  }
}

.card-holder {
  height: 164px;
  width: 120px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: cnst.$madPurple;
  box-shadow: 3px 3px 5px 3px black inset;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 701px) and (max-height: 815px) {
    height: 144px;
    width: 100px;
  }

  @media (max-width: 600px) {
    height: 144px;
    width: 100px;
  }

  @media (max-width: 500px) {
    height: 114px;
    width: 85px;
  }

  @media (max-width: 400px) {
    height: 104px;
    width: 75px;
  }

  @media (max-width: 340px) {
    border-radius: 7px;
  }

  @media (max-width: 300px) {
    height: 94px;
    width: 65px;
  }
}

.sign {
  font-family: "Times New Roman";
  font-size: 100px;
  text-align: center;
  line-height: 60px;
  font-weight: 700;
  color: cnst.$orange;
  text-shadow: 0px 0px 10px cnst.$orange;
  user-select: none;

  &__plus {
    @media (max-width: 340px) {
      display: none;
    }
  }

  @media (min-width: 701px) and (max-height: 815px) {
    font-size: 40px;
    width: 100%;
    line-height: 32px;
  }

  @media (max-width: 700px) {
    line-height: 160px;
  }

  @media (max-width: 600px) {
    font-size: 80px;
  }

  @media (max-width: 500px) {
    font-size: 60px;
    line-height: 50px;
  }

  @media (max-width: 400px) {
    font-size: 50px;
  }

  @media (max-width: 320px) {
    font-size: 30px;
  }
}

.multiple-result {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &_card {
    height: initial;
    flex: 1;
    margin: 8px;
    width: auto;

    @media (min-width: 701px) and (max-height: 815px) {
      margin: 3px;
    }

    @media (max-width: 600px) {
      margin: 3px;
    }
  }

  @media (min-width: 701px) and (max-height: 815px) {
    margin: 5px;
  }

  @media (max-width: 600px) {
    margin: 5px;
  }
}

.card_title {
  @media (max-width: 400px) {
    margin: 0;
    width: 100%;
  }
}
